.btn {
  background: var(--primary-color);
  padding: 10px 25px;
  color: var(--light-color);
  border-radius: 5px;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--secondary-color);
}

/* App CSS
-------------------*/
.slider-container {
  padding: 0;
}

.slider-item {
  display: block !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
}

.slider-item img {
  height: 100vh;
  object-fit: cover;
}

.movie-content {
  background: #00000094;
  color: #fff;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.movie-content h2 {
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .movie-content h2 {
    font-size: 30px;
  }
}

span.date {
  display: inline-block;
  color: var(--secondary-color);
  margin: 10px 0;
}

.play {
  padding: 15px 30px;
}

section {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.section-title h3 {
  font-size: 30px;
}

/* Movies CSS
---------------- */

.playing {
  background: var(--light-color);
}

.trending {
  background: var(--clr-light-gray);
}

.tv-shows {
  background: var(--light-color);
}

.movies-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 26px;
}

.movies-card.page-movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
}

@media (max-width: 1024px) {
  .movies-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .movies-card.page-movies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .movies-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .movies-card.page-movies {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .movies-card {
    grid-template-columns: 1fr 1fr;
  }
  .movies-card.page-movies {
    grid-template-columns: 1fr;
  }
}

.card {
  margin-bottom: 15px;
  text-align: center;
}

.card a h4.name {
  color: var(--dark);
}

.card a:hover h4.name {
  color: var(--primary-color);
}

.card img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Movie page css 
----------------------------- */
.browse-movie-by-filter {
  padding: 50px 0 !important;
}

.movie-filter {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}

@media (max-width: 768px) {
  .movie-filter {
    display: block;
  }
}

.filter {
  flex: 1;
}

h5.title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

.type {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-color);
}

.type {
  padding: 0 5px 10px 5px;
}

.form-control {
  margin-bottom: 4px;
  position: relative;
}

.form-control label {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  padding-left: 30px;
}

.form-control label::after {
  content: '';
  position: absolute;
  width: calc(100% + 15px);
  height: 100%;
  top: 0;
  left: -15px;
  z-index: -1;
}

.form-control label:hover::after {
  background: rgb(235, 235, 235);
}

select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}

input[type='checkbox'] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
  .filter-options {
    display: flex;
    gap: 32px;
  }

  .genres-filter-group {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .form-control label {
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .filter-options {
    display: block;
  }
  .form-control label::after {
    left: -10px;
  }
}

@media (max-width: 476px) {
  .genres-filter-group {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}

/* About Page CSS 
-------------------------------- */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.about * {
  flex: 1;
}

.about img {
  width: 100%;
  border-radius: 6px;
}

.about-content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-content h4 {
  margin-bottom: 20px;
}

.about-content p {
  margin-bottom: 10px;
}

/* Privacy, Terms and Conditions CSS
-------------------------------------- */
.privacy h2,
.terms-conditions h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.privacy h3,
.terms-conditions h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

.privacy h4,
.terms-conditions h4 {
  margin-bottom: 12px;
}

.content p {
  margin-bottom: 10px;
}

.content a {
  color: var(--primary-color);
}

/* Filltered movie list 
--------------------------------- */
h2.heading {
  margin-bottom: 30px;
}

.filtered-movie {
  flex: 4;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Pagination CSS 
-------------------------------- */

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.pagination .page {
  border: none;
  outline: none;
}

/* Movie Details page CSS
------------------------------------ */
.backdrop_poster {
  position: relative;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backdrop_poster::after {
  position: absolute;
  content: '';
  background: linear-gradient(180deg, var(--dark), transparent);
  width: 100%;
  height: 100%;
}

.detail-header {
  padding: 30px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories {
  display: flex;
  gap: 10px;
}

p.genre {
  margin: 10px 0;
}

.rating {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.icon-box-area {
  display: flex;
  gap: 15px;
}

.icon-box {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.icon-box .icon {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--dark);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 532px) {
  .icon-box-area {
    display: block;
  }

  .icon-box {
    justify-content: start;
  }
}

.more-details {
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.more-details > * {
  flex: 1;
}

.more-details h2 {
  margin-bottom: 15px;
}

.created-by {
  display: flex;
  gap: 30px;
}

.creator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.creator img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .created-by {
    display: block;
  }
  .creator {
    margin-bottom: 10px;
  }
}

.poster {
  max-width: 400px;
  min-width: 300px;
}

.poster img {
  width: 100%;
}

.details > * {
  margin-bottom: 20px;
}

.production {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.company {
  width: 80px;
  height: 80px;
  background: #dbdbdb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  overflow: hidden;
}

.company img {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .detail-header {
    display: block;
  }
  .detail-header > * {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .more-details {
    display: block;
  }

  .more-details > * {
    margin-bottom: 30px;
  }
}

.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.trailer::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, var(--dark), transparent);
}

.trailer button {
  z-index: 1;
}
